<p><%= link_to "Back to All Users", admin_users_path %></p>
<h1><%= @user.firstname %> <%= @user.lastname %></h1>
<p>Email: <%= @user.email %></p>
<p>Created at: <%= @user.created_at %></p>
<p>Updated at: <%= @user.updated_at %></p>