<div class="login-signup">
  <% if current_user %>
    <div class="pull-right">
      <span>Hi, <%= current_user.firstname %></span>
      <%= link_to "Log out", session_path("current"), method: :delete %>
    </div>
  <% else %>
    <div class="pull-right">
      <%= link_to "Log In", new_session_path %>
      <%= link_to "Sign Up", new_user_path %>
    </div>
  <% end %>
</div>

<div class="header">
  <h1 class="pull-left">
  <%= link_to movies_path do %>
    <div class="link-icon"><i class="fa fa-home"></i></div>
  <% end %>
  &nbsp;&nbsp;&nbsp;Rotten Avocados</h1>
  <%= image_tag "logo.png", class: "pull-right", id: "avocado" %>
</div>