<div class="header">

  <h1 class="pull-left">Rotten Mangoes</h1>

  <% flash.each do |key, value| %>
    <span class="pull-left"><%= content_tag(:div, value) %></span>
  <% end %>

  <% if current_user %>
    <span>Hi, <%= current_user.firstname %></span>
  <% else %>
    <%= link_to "Log In", new_session_path, class: "pull-right" %>
    <%= link_to "Sign Up", new_user_path, class: "pull-right" %>
  <% end %>

  <% if current_user %>  
    <%= link_to "Log out", session_path("current"), method: :delete %>
  <% end %> 
</div>